PHPVER=7.1

VIRTUAL_HOST=www.example.com
VIRTUAL_PORT=80

MAGENTO_RUN_MODE=production
PHP_MEMORY_LIMIT=2048M
PHP_ENABLE_XDEBUG=false
UPDATE_UID_GID=false
DEBUG=false
ENABLE_SENDMAIL=true
UPLOAD_MAX_FILESIZE=64M

M2SETUP_VERSION=2.2.*
M2SETUP_INSTALL_DB=true
M2SETUP_DB_HOST=db
M2SETUP_DB_NAME=magento
M2SETUP_DB_USER=magento
M2SETUP_DB_PASSWORD=magento
M2SETUP_BASE_URL=http://www.example.com/
M2SETUP_SECURE_BASE_URL=https://www.example.com/
M2SETUP_BACKEND_FRONTNAME=admin
M2SETUP_ADMIN_FIRSTNAME=Admin
M2SETUP_ADMIN_LASTNAME=User
M2SETUP_ADMIN_EMAIL=admin@example.com
M2SETUP_ADMIN_USER=admin
M2SETUP_ADMIN_PASSWORD=admin
# M2SETUP_USE_SAMPLE_DATA=true

COMPOSER_GITHUB_TOKEN=0000000000000000000000000000000000000000
COMPOSER_MAGENTO_USERNAME=00000000000000000000000000000000
COMPOSER_MAGENTO_PASSWORD=00000000000000000000000000000000
COMPOSER_BITBUCKET_KEY=000000000000000000
COMPOSER_BITBUCKET_SECRET=00000000000000000000000000000000

MYSQL_ROOT_PASSWORD=magento
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento
